.topbet-sub-menu-list-item{
    border-color: rgb(230, 230, 230);
    transition: border 250ms linear;
}

.topbet-sub-menu-list-item-link{
    color: black;
}
.topbet-sub-menu-list-item:hover{
    border-color: black;
}